<?php include APP_PATH.'/public/admin/menutop.html' ?>

<div class="main-container" id="main-container">
<?php include APP_PATH.'/public/admin/menuleft.html' ?>

<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="/admin/dashboard">Home</a>
				</li>

				<li>
					<a href="/admin/article">文章管理</a>
				</li>
				<li class="active">文章列表</li>
			</ul>
		</div>

		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
<div>
<table id="dynamic-table" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="center">
				<label class="pos-rel">
					<input type="checkbox" class="ace" />
					<span class="lbl"></span>
				</label>
			</th>
			<th>标题</th>
	        <th>内容</th>
	        <th>状态</th>
	        <th>添加时间</th>
		</tr>
	</thead>

<tbody>
<?php if($articles){ ?>
<?php foreach($articles as $val){ ?>
<tr>
	<td class="center">
		<label class="pos-rel">
			<input type="checkbox" class="ace" value="<?php echo $val['id'] ?>" />
			<span class="lbl"></span>
		</label>
	</td>

	<td>
		<a href="#"><?php echo $val['title'] ?></a>
	</td>
	<td><?php echo $val['content'] ?></td>
	<td class="hidden-480">
		<?php if($val['status'] == 0){ ?>
			<span class="label label-sm label-warning">待审核</span>
		<?php }else{ ?>
			<span class="label label-sm label-success">正常</span>
		<?php } ?>
	</td>
	<td class="hidden-480"><?php echo date('Y-m-d', $val['addTime']) ?></td>
</tr>
<?php } ?>
<?php } ?>
</tbody>
</table>
</div>

						<div class="modal-footer no-margin-top">
							<?php echo $pageNav ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="dialog-confirm" class="hide">
	<div class="alert alert-info bigger-110">
		These items will be permanently deleted and cannot be recovered.
	</div>

	<div class="space-6"></div>

	<p class="bigger-110 bolder center grey">
		<i class="ace-icon fa fa-hand-o-right blue bigger-120"></i>
		Are you sure?
	</p>
</div>
<script>
	$('#newRole').click(function(){
		window.location.href = '/admin/role/add';
	})

	function del(roleID){
		if(confirm('确定删除此角色?')){
			window.location.href = '/admin/role/delete?roleID='+roleID;
		}
	}
</script>

<?php include APP_PATH.'/public/admin/footer.html' ?>