<?php include 'header.html' ?> 
  <div class="container"> 
    <div class="row">
      <?php include 'left.html' ?>

      <div class="span9">
        <section id="typography"> 
          <div class="page-header"> 
            <h1>新文章</h1> 
          </div>
 
          <div class="bs-docs-example"> 
			<form id="editForm" name="editForm" method="post" action="/article/editAct">
				<input type="text" id="title" name="title" value="<?php echo $article['title'] ?>" /> <br /><br />
				<input type="text" id="content" name="content" value="<?php echo $article['content'] ?>" size="100" /><br /><br />
				<input type="submit" id="submit" class="btn btn-primary"  name="submit" value="Submit" />
				<a href="/user/profile" class="btn">Back</a>
				<input type="hidden" id="articleID" name="articleID" value="<?php echo $article['id'] ?>" />
			</form>
          </div> 
        </section>
      </div> 
    </div>
  </div> 
</body>