.noticeTip { color: #444444; display: -moz-inline-stack; line-height: 18px; vertical-align: middle; }
.onShow, .onFocus, .onError, .onCorrect, .onLoad, .onTime {
    background: url("../images/msg_bg.png") no-repeat scroll 0 0 transparent;
    color: #444444;
    display: -moz-inline-stack;
    line-height: 18px;
    margin-left: 10px;
    padding: 2px 10px 2px 23px;
    vertical-align: middle;
}
.onShow {
    background-position: 3px -147px;
    border-color: #40B3FF;
    color: #959595;
    display: inline;
}
.onFocus {
    background-position: 3px -147px;
    border-color: #40B3FF;
}
.onError {
    background-position: 3px -47px;
    border-color: #40B3FF; color: red;
}
.onCorrect {
    background-position: 3px -247px;
    border-color: #40B3FF;
}