<?php include APP_PATH.'/public/admin/menutop.html' ?>

<div class="main-container" id="main-container">
<?php include APP_PATH.'/public/admin/menuleft.html' ?>

<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="/admin/dashboard">Home</a>
				</li>
				<li>
					<a href="/admin/role">角色权限</a>
				</li>
				<li class="active">新角色</li>
			</ul>
		</div>

		<div class="page-content">
			<div class="page-header">
				<h1>新角色</h1>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<form class="form-horizontal" id="addForm" role="form" action="/admin/role/addAct" method="post">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1">别名</label>

							<div class="col-sm-9">
								<input type="text" id="form-field-1" placeholder="Alias" name="alias" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1">账号</label>

							<div class="col-sm-9">
								<input type="text" id="form-field-1" placeholder="Username" name="name" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="space-4"></div>

						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-2">密码</label>

							<div class="col-sm-9">
								<input type="password" id="form-field-2" placeholder="Password" name="password" class="col-xs-10 col-sm-5" />
								<span class="help-inline col-xs-12 col-sm-7">
								</span>
							</div>
						</div>

						<div class="space-4"></div>

						<div class="clearfix">
							<div class="col-md-offset-3 col-md-9">
								<button id="btnSubmit" class="btn btn-info" type="button">
									<i class="ace-icon fa fa-check bigger-110"></i>
									Submit
								</button>

								&nbsp; &nbsp; &nbsp;
								<button class="btn" type="reset">
									<i class="ace-icon fa fa-undo bigger-110"></i>
									Reset
								</button>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('#btnSubmit').click(function(){
		$('#addForm').submit();
	})
</script>
<?php include APP_PATH.'/public/admin/footer.html' ?>