<?php include APP_PATH.'/public/admin/menutop.html' ?>

<div class="main-container" id="main-container">
<?php include APP_PATH.'/public/admin/menuleft.html' ?>

<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="/admin/dashboard">Home</a>
				</li>
				<li>
					<a href="/admin/role">角色权限</a>
				</li>
				<li class="active">角色列表</li>
			</ul>
		</div>

		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<div class="modal-footer no-margin-buttom">
						<button id="newRole" class="btn btn-sm pull-left btn-success">+新角色</button>
						<button id="delRole" class="btn btn-sm pull-left btn-danger">X 删除所选</button>
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="keyword" name="keyword" value="<?php echo $keyword?>" >
							<i id="btnSearch" class="ace-icon fa fa-search nav-search-icon"></i>
						</span>
					</div>
<div>
<table id="dynamic-table" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="center">
				<label class="pos-rel">
					<input id="selectAll" type="checkbox" class="ace" />
					<span class="lbl"></span>
				</label>
			</th>
			<th>角色别名</th>
			<th>角色账号</th>
			<th class="hidden-480">添加时间</th>
			<th>状态</th>
			<th class="hidden-480">操作</th>
		</tr>
	</thead>
<tbody>
<?php if($roles){ ?>
<?php foreach($roles as $val){ ?>
<tr>
	<td class="center">
		<label class="pos-rel">
			<input type="checkbox" id="<?php echo $val['id'] ?>" class="ace" value="<?php echo $val['id'] ?>" />
			<span class="lbl"></span>
		</label>
	</td>
	<td>
		<a href="#"><?php echo $val['alias'] ?></a>
	</td>
	<td><?php echo $val['username'] ?></td>
	<td class="hidden-480">
		<?php echo date('Y-m-d', $val['addTime']) ?>
	</td>
	<td class="hidden-480">
		<?php if($val['status'] == 0){ ?>
			<span class="label label-sm label-warning">禁用</span>
		<?php }else{ ?>
			<span class="label label-sm label-success">正常</span>
		<?php } ?>
	</td>
	<td>
		<div class="hidden-sm hidden-xs action-buttons">
			<a class="blue" href="/admin/role/assign?roleID=<?php echo $val['id'] ?>">
				<i class="ace-icon fa fa-search-plus bigger-130"></i>
			</a>
			<a class="green" href="/admin/role/edit?roleID=<?php echo $val['id'] ?>">
				<i class="ace-icon fa fa-pencil bigger-130"></i>
			</a>
			<a class="red" href="javascript:del('<?php echo $val['id'] ?>')">
				<i class="ace-icon fa fa-trash-o bigger-130"></i>
			</a>
		</div>
	</td>
</tr>
<?php } ?>
<?php } ?>
</tbody>
</table>
</div>

						<div class="modal-footer no-margin-top">
							<?php echo $pageNav ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	// 全选功能
	$('table th input:checkbox').on('click' , function(){
		var that = this;
		$(this).closest('table').find('tr > td:first-child input:checkbox').each(function(){
			this.checked = that.checked;
			$(this).closest('tr').toggleClass('selected');
		});
	});

	// 批量操作
	$('#delRole').on('click', function(){
		var str = '';
		$('#dynamic-table').find('tr > td:first-child input:checkbox').each(function(){
			if($(this).is(':checked') == true){
				str += $(this).val() + ',';
			}
		});

		// 去掉最后个,
		str = str.substring(0, str.length - 1);
	    if(str == ''){
	    	alert('貌似你没有选择任何东东');
	    }else{
	    	if(confirm('确定删除所选?')){
	    		window.location.href = '/admin/role/delBatch?str=' + str;
	    	}
	    }
	})

	$('#newRole').click(function(){
		window.location.href = '/admin/role/add';
	})

	function del(roleID){
		if(confirm('确定删除此角色?')){
			window.location.href = '/admin/role/delete?roleID='+roleID;
		}
	}

	$('#btnSearch').click(function(){
		var keyword = $('#keyword').val();

		window.location.href = '/admin/role?keyword='+keyword;
	})
</script>

<?php include APP_PATH.'/public/admin/footer.html' ?>