<?php include HEADER_HTML ?>
<div class="jumbotron masthead">
  <div class="container">
    <h1>YOF</h1>
    <p> 最好的 YAF, YAR 入门 DEMO !</p>
    <p>
      <a href="https://github.com/xwmhmily/YOF" class="btn btn-primary btn-large">下载 YOF</a>
      <a target="_blank" href="http://yof.mylinuxer.com" class="btn btn-primary btn-large">在线 DEMO</a>
      <a target="_blank" href="http://www.iloveyaf.com" class="btn btn-primary btn-large">在线文档</a>
    </p>
    <ul class="masthead-links">
      <li>
        <a href="https://github.com/xwmhmily/YOF">GitHub project</a>
      </li>
      <li>
        Version 1.5
      </li>
    </ul>
  </div>
</div>
    <footer class="footer">
      <div class="container">
        <p>Designed by 大眼猫 QQ: 381345509</p>
      </div>
    </footer>

    <script src="<?php echo JS_PATH ?>/jquery.min.js"></script>
    <script src="<?php echo JS_PATH ?>/bootstrap.min.js"></script>
  </body>
</html>
