<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>Login Page - AdminCP</title>

        <meta name="description" content="User login page" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="<?php echo ADMIN_CSS_PATH ?>/bootstrap.css" />
        <link rel="stylesheet" href="<?php echo ADMIN_CSS_PATH ?>/font-awesome.css" />

        <!-- text fonts -->
        <link rel="stylesheet" href="<?php echo ADMIN_CSS_PATH ?>/ace-fonts.css" />

        <!-- ace styles -->
        <link rel="stylesheet" href="<?php echo ADMIN_CSS_PATH ?>/ace.css" />

        <!--[if lte IE 9]>
            <link rel="stylesheet" href="<?php echo ADMIN_CSS_PATH ?>/ace-part2.css" />
        <![endif]-->
        <link rel="stylesheet" href="<?php echo ADMIN_CSS_PATH ?>/ace-rtl.css" />

        <!--[if lte IE 9]>
          <link rel="stylesheet" href="<?php echo ADMIN_CSS_PATH ?>/ace-ie.css" />
        <![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

        <!--[if lt IE 9]>
        <script src="<?php echo ADMIN_JS_PATH ?>/html5shiv.js"></script>
        <script src="<?php echo ADMIN_JS_PATH ?>/respond.js"></script>
        <![endif]-->
    </head>

    <body class="login-layout">
        <div class="main-container">
            <div class="main-content">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="login-container">
    <div class="center">
        <h1>
            <i class="ace-icon fa fa-leaf green"></i>
            <span class="red"><?php echo APP_NAME ?></span>
            <span class="white" id="id-text2">AdminCP</span>
        </h1>
        <h4 class="blue" id="id-company-text">&copy;YAF. INC</h4>
    </div>

    <div class="space-6"></div>
    <div class="position-relative">
    <div id="login-box" class="login-box visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header blue lighter bigger">
                    <i class="ace-icon fa fa-coffee green"></i>
                    Please Enter Your Information
                </h4>
                <div class="space-6"></div>

                <form id="loginForm" method="post" action="/admin/login/checkLogin">
                    <fieldset>
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Username" name="username" id="username" />
                                <i class="ace-icon fa fa-user"></i>
                            </span>
                        </label>

                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" placeholder="Password" name="password" id="password" />
                                <i class="ace-icon fa fa-lock"></i>
                            </span>
                        </label>

                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="输入下图验证码" name="captcha" id="captcha" />
                                <i class="ace-icon fa"></i>
                            </span>
                        </label>
                        <div class="space"></div>

                        <div class="clearfix">
                            <a href="#">
                                <img title="验证码" id="verify_code" src="/captcha.php?t=admin" style="vertical-align:top">
                            </a>
                        </div>
                        <div class="space-4"></div>
                        <div class="space-4"></div>

                        <div class="clearfix">
                            <button type="button" class="width-100 pull-right btn btn-sm btn-primary">
                                <i class="ace-icon fa fa-key"></i>
                                <span class="bigger-110">Login</span>
                            </button>
                        </div>
                        <div class="space-4"></div>
                    </fieldset>
                </form>
            </div><!-- /.widget-main -->
        </div><!-- /.widget-body -->
    </div><!-- /.login-box -->

                            <div class="navbar-fixed-top align-right">
                                <br />
                                &nbsp;
                                <a id="btn-login-dark" href="#">Dark</a>
                                &nbsp;
                                <span class="blue">/</span>
                                &nbsp;
                                <a id="btn-login-blur" href="#">Blur</a>
                                &nbsp;
                                <span class="blue">/</span>
                                &nbsp;
                                <a id="btn-login-light" href="#">Light</a>
                                &nbsp; &nbsp; &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--[if !IE]> -->
        <script type="text/javascript">
            window.jQuery || document.write("<script src='<?php echo ADMIN_JS_PATH ?>/jquery.js'>"+"<"+"/script>");
        </script>

        <!-- <![endif]-->

        <!--[if IE]>
        <script type="text/javascript">
         window.jQuery || document.write("<script src='<?php echo ADMIN_JS_PATH ?>/jquery1x.js'>"+"<"+"/script>");
        </script>
        <![endif]-->
        <script type="text/javascript">
            if('ontouchstart' in document.documentElement) document.write("<script src='<?php echo ADMIN_JS_PATH ?>/jquery.mobile.custom.js'>"+"<"+"/script>");
        </script>

        <!-- inline scripts related to this page -->
        <script type="text/javascript">
            jQuery(function($) {
             $(document).on('click', '.toolbar a[data-target]', function(e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
             });
            });
            
            //you don't need this, just used for changing background
            jQuery(function($) {
             $('#btn-login-dark').on('click', function(e) {
                $('body').attr('class', 'login-layout');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'blue');
                
                e.preventDefault();
             });
             $('#btn-login-light').on('click', function(e) {
                $('body').attr('class', 'login-layout light-login');
                $('#id-text2').attr('class', 'grey');
                $('#id-company-text').attr('class', 'blue');
                
                e.preventDefault();
             });
             $('#btn-login-blur').on('click', function(e) {
                $('body').attr('class', 'login-layout blur-login');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'light-blue');
                
                e.preventDefault();
             });             
            });

            $(function(){
                $('.btn-sm').click(function(){
                    var username = $('#username').val();
                    if(username == ''){
                        $('#username').focus();
                        return false;
                    }

                    var password = $('#password').val();
                    if(password == ''){
                        $('#password').focus();
                        return false;
                    }

                    <?php if(ENV != 'DEV'){ ?>
                        var captcha = $('#captcha').val();
                        if(captcha == ''){
                            $('#captcha').focus();
                            return false;
                        }
                    <?php } ?>

                    $('#loginForm').submit();
                })
            })
        </script>
    </body>
</html>