<?php include APP_PATH."/public/admin/simple_header.html" ?>
  <body class="simple_body"> 
  <!--<![endif]-->
    
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav pull-right">
                
            </ul>
            <a class="brand" href="<?php echo SERVER_DOMAIN ?>" target="_blank">
				<span class="first"></span> <span class="second"><?php echo APP_NAME ?>控制后台</span>
			</a>
        </div>
    </div>
<div>
<div class="container-fluid">
    <div class="row-fluid">	
	
    <div class="dialog">
        <div class="block">
            <p class="block-heading">登入</p>
            <div class="block-body">
                <form name="loginForm" method="post" action="/admin/login/checkLogin">
                    <label>账号</label>
                    <input type="text" class="span12" name="username" required="true" autofocus="true">
                    <label>密码</label>
                    <input type="password" class="span12" name="password" required="true" >
                    <label>验证码</label>
					<input type="text" name="captcha" class="span4" placeholder="输入验证码" autocomplete="off" required="required">
					<a href="#">
						<img title="验证码" id="verify_code" src="<?php SERVER_DOMAIN ?>/captcha.php?t=admin" style="vertical-align:top">
					</a>
					<div class="clearfix">
						<input type="submit" class="btn btn-primary pull-right" name="loginSubmit" value="登入"/>
					</div>
                </form>
            </div>
        </div>
        <p class="pull-right" style="">
			<a href="http://osadmin.org" target="blank"></a>
		</p>
    </div>
<script type="text/javascript">
$("#verify_code").click(function(){
	var d = new Date()
	var hour = d.getHours(); 
	var minute = d.getMinutes();
	var sec = d.getSeconds();
    $(this).attr("src","/captcha.html?t=admin?"+hour+minute+sec);
});
</script>