<?php include COMMON_PATH.'/header.html' ?>
<link href="/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/uploadify/jquery.uploadify.min.js"></script>
  <div class="container"> 
    <div class="row">
      <?php include COMMON_PATH.'/left.html' ?>

      <div class="span9">
        <section id="typography"> 
          <div class="page-header">
            <h1>层级式省市区三级联动</h1>
          </div>
 
          <div class="bs-docs-example"> 
      			 <?php echo $cityElement ?>
          </div>
        </section>
      </div> 
    </div>
  </div> 
</body>