<?php include HEADER_HTML ?>
  <div class="container"> 
    <div class="row">
      <?php include LEFT_HTML ?>

      <div class="span9">
        <section id="typography"> 
          <div class="page-header">
            <h1>HTTP 请求</h1>
          </div>
 
          <div class="bs-docs-example"> 
      			<form id="profileForm" name="profileForm" method="get">
              <input type="text" style="width:500px;" id="url" name="url" value="http://yof.mylinuxer.com" readonly="readonly" />
              <br />
      				<input type="submit" id="submit" class="btn btn-primary" name="submit" value="Submit" />
              <a href="/user/profile" class="btn">Back</a>
      			</form>
            <?php if($content){ ?>
              <textarea style="width:800px;height:500px;"><?php echo $content?></textarea>
            <?php } ?>
          </div>
        </section>
      </div> 
    </div>
  </div> 
</body>