<?php include COMMON_PATH.'/header.html' ?>
 <style type="text/css">
  .pageNav{float:right;}
</style>
  <div class="container"> 
    <div class="row">
      <?php include COMMON_PATH.'/left.html' ?>

      <div class="span9">
        <section id="typography"> 
          <div class="page-header"> 
            <h1>我的文章</h1> 
          </div> 
          <div class="bs-docs-example"> 
            <div style="padding: 10px; ">
              <?php if(isset($run_id)){ ?>
                <a target="_blank" href="/xhprof_html/index.php?run=<?php echo $run_id?>">点击查看 xhprof 分析</a>
              <?php } ?>  
            </div>
            <table data-toggle="table" border="1" width="100%">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>标题</th>
                  <th>状态</th>
                  <th>添加时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <?php if($articles){ ?>
                <tbody>
                <?php foreach($articles as $key => $val) { ?>
                  <tr align="center">
                    <td>
                      <a href="/article/<?php echo $val['id'] ?>.html">
                        <?php echo $val['id'] ?>
                      </a>
                    </td>
                    <td><?php echo $val['title'] ?></td>
                    <td>
                      <?php if($val['status'] == 0 ) { ?>
                        待审核
                      <?php }else{ ?>
                        正常
                      <?php } ?>
                    </td>
                    <td><?php echo date('Y-m-d', $val['addTime']) ?></td>
                    <td>
                      <a class="btn primary" href="/article/edit?articleID=<?php echo $val['id'] ?>">编辑</a>
                      <a class="btn primary" href="/article/del?articleID=<?php echo $val['id'] ?>">删除</a>
                    </td>
                  </tr> 
                <?php } ?>
                </tbody>
              <?php } ?>
            </table>
            <br />
            <a href="/article/add" class="btn primary">新文章</a>
            <span class="pageNav"><?php echo $pageNav ?></span> 
          </div> 
        </section>
      </div> 
    </div>
  </div> 
</body> 