<?php include COMMON_PATH.'/header.html' ?>
 <style type="text/css">
  .pageNav{float:right;}
</style>
<script>
  function go(){
    $.post('/user/profile/renderAjax', function(data){
      $('#content').html(data);
    })
  }
</script>
  <div class="container"> 
    <div class="row">
      <?php include COMMON_PATH.'/left.html' ?>

      <div class="span9">
        <section id="typography"> 
          <div class="page-header"> 
            <h1>Multi CURL 【抓取三个网页的标题】</h1>
          </div> 
          <div class="bs-docs-example" id="content">
            <?php foreach($title as $key => $val){ ?>
              <div><?php echo $key .' => '.$val ?></div>
            <?php } ?>
          </div> 
        </section>
      </div> 
    </div>
  </div> 
</body> 