<?php include HEADER_HTML ?>
 <style type="text/css">
  .pageNav{float:right;}
</style>
<script>
  function go(){
    $.post('/user/profile/renderAjax', function(data){
      $('#content').html(data);
    })
  }
</script>
  <div class="container"> 
    <div class="row">
      <?php include LEFT_HTML ?>

      <div class="span9">
        <section id="typography"> 
          <div class="page-header"> 
            <h1>Pcntl 【多进程抓取网页数据】</h1>
          </div> 
          <div class="bs-docs-example" id="content">
            请在 CLI 模式下运行 php pcntl.php 命令看效果
          </div> 
        </section>
      </div> 
    </div>
  </div> 
</body> 