<?php include COMMON_PATH.'/header.html' ?>
 <style type="text/css">
  .pageNav{float:right;}
</style>
  <div class="container"> 
    <div class="row">
      <?php include COMMON_PATH.'/left.html' ?>

      <div class="span9">
        <section id="typography"> 
          <div class="page-header"> 
            <h1>七牛 SDK</h1>
          </div>
          
          <div class="bs-docs-example">
            <ul>
              <li>
                1: 在 application.ini 中配置好 七牛 的各个参数, 主要是 accessKey, secretKey, IMG_DOMAIN, bucket
              </li>
              <li>
                2: 在文件上传至本地服务器成功后, 再调用七牛上传类 <br />
                <?php highlight_file($file) ?>
              </li>
              <li>
                3: 代码只是本人实际项目中复制过来的, 这里就不演示了
              </li>
            </ul>
          </div> 
        </section>
      </div> 
    </div>
  </div> 
</body>
<script>
$(function(){
  $('#decryptBtn').click(function(){
    var strToDecrypt = $('#encryption').val();
    if(strToDecrypt == ''){
      alert('请先加密');
      return false;
    }

    window.location.href = '/user/profile/encrypt?strToDecrypt='+strToDecrypt;
  })
})
</script>