<?php include COMMON_PATH.'/header.html' ?>
<script>
  $(function(){
    $('#goBtn').click(function(){
      var content = $('#content').val();
      if(content == ''){
        $('#content').focus();
        return false;
      }

      $.post('/user/profile/redisProducer', {'content' : content}, function(data){
        if(data == '1'){
          alert('写入队列成功, 去读取吧');
        }else{
          alert(data);
        }
      })
    })

    $('#getBtn').click(function(){
      $.post('/user/profile/redisConsumer', function(data){
        $('#result').val(data);
      })
    })
  })
</script>
 <style type="text/css">
  .pageNav{float:right;}
</style>
  <div class="container"> 
    <div class="row">
      <?php include COMMON_PATH.'/left.html' ?>
      <div class="span9">
        <section id="typography"> 
          <div class="page-header"> 
            <h1>Redis 简单队列</h1>
          </div> 
          
          <div class="bs-docs-example">
            <ul>
              <li>
                1: 若您的应用不大, 又要队列, 简单高效的 Redis 是个不错的选择
              </li>
              <li>
                2: 安装好 Redis, phpRedis
              </li>
              <li>
                3: appliction.ini 中配置好 redis_host, redis_port
              </li>
            </ul>
          </div> 
        </section>
      </div>

      <div class="span9">
        <section id="typography"> 
          <div class="page-header"> 
            <h1>Redis 简单队列之 Producer</h1>
          </div> 
          
          <div class="bs-docs-example">
            <ul>
              <li>
                1: Producer 生产端, 将数据写入队列
              </li>
            </ul>
          </div>
          <div>
            <input type="text" id="content" maxlength="50" />
            <input type="button" id="goBtn" value="写入" />
          </div>
        </section>
      </div>

      <div class="span9">
        <section id="typography"> 
          <div class="page-header"> 
            <h1>Redis 简单队列之 Consumer</h1>
          </div> 
          
          <div class="bs-docs-example">
            <ul>
              <li>
                1: Consumer 消费端, 从队列中读取数据
              </li>
            </ul>
            <input type="text" id="result" maxlength="50" />
            <input type="button" id="getBtn" value="获取" />
          </div> 
        </section>
      </div> 
    </div>
  </div> 
</body>