<table data-toggle="table" border="1" width="100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>标题</th>
      <th>状态</th>
      <th>添加时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <?php if($articles){ ?>
    <tbody>
    <?php foreach($articles as $key => $val) { ?>
      <tr align="center">
        <td>
          <a href="/article/<?php echo $val['id'] ?>.html">
            <?php echo $val['id'] ?>
          </a>
        </td>
        <td><?php echo $val['title'] ?></td>
        <td>
          <?php if($val['status'] == 0 ) { ?>
            待审核
          <?php }else{ ?>
            正常
          <?php } ?>
        </td>
        <td><?php echo date('Y-m-d', $val['addTime']) ?></td>
        <td>
          <a class="btn primary" href="/article/edit?articleID=<?php echo $val['id'] ?>">编辑</a>
        </td>
      </tr> 
    <?php } ?>
    </tbody>
  <?php } ?>
</table>