<?php include COMMON_PATH.'/header.html' ?>
 <style type="text/css">
  .pageNav{float:right;}
</style>
<script>
  function go(){
    $.post('/user/profile/renderAjax', function(data){
      $('#content').html(data);
    })
  }
</script>
  <div class="container"> 
    <div class="row">
      <?php include COMMON_PATH.'/left.html' ?>

      <div class="span9">
        <section id="typography"> 
          <div class="page-header"> 
            <h1>类似Smarty 的 Fetch功能</h1>
          </div> 
          <div class="page-header"> 
            <a href="#" onclick="go()">点我吧</a>
          </div> 
          <div class="bs-docs-example" id="content">
          </div> 
        </section>
      </div> 
    </div>
  </div> 
</body> 