<?php include COMMON_PATH.'/header.html' ?>
 <style type="text/css">
  .pageNav{float:right;}
</style>
  <div class="container"> 
    <div class="row">
      <?php include COMMON_PATH.'/left.html' ?>
      <div class="span9">
        <section id="typography"> 
          <div class="page-header"> 
            <h1>Weixin SDK 之验证</h1>
          </div> 
          
          <div class="bs-docs-example">
            <ul>
              <li>
                1: 在 application.ini 中配置好 weixin 的各个参数, wx_token, wx_appID, wx_secret
              </li>
              <li>
                2: 注释掉 weixin 控制器 init 中的 
                $l_weixin = new Weixin();
                $l_weixin->oauth();
              </li>
              <li>
                3: 将验证的 URL 指向 http://您的域名/weixin/verify
              </li>
            </ul>
          </div> 
        </section>
      </div>

      <div class="span9">
        <section id="typography"> 
          <div class="page-header"> 
            <h1>Weixin SDK 之授权</h1>
          </div> 
          
          <div class="bs-docs-example">
            <ul>
              <li>
                1: 在 application.ini 中配置好 weixin 的各个参数, wx_token, wx_appID, wx_secret
              </li>
              <li>
                2: weixin 控制器 init 中加入 
                $l_weixin = new Weixin();
                $l_weixin->oauth();
              </li>
              <li>
                3: library 下的 Wechat.php并不是最新的sdk，但足于应付大部分的微信接口了
              </li>
              <li>
                4: 由于微信授权需要在微信浏览器才有效, 这里就演示不了了
              </li>
            </ul>
          </div> 
        </section>
      </div>

      <div class="span9">
        <section id="typography"> 
          <div class="page-header"> 
            <h1>Weixin SDK 之JS分享</h1>
          </div> 
          
          <div class="bs-docs-example">
            <ul>
              <li>
                1: 在 application.ini 中配置好 weixin 的各个参数, wx_token, wx_appID, wx_secret
              </li>
              <li>
                2: 需要分享的Action 中调用 $this->_generateShare($url).
                $url 为当前 Action 的 URL. <br />
                // 分享的目标链接【即点击分享链接进来的URL】 <br />
                $buffer['targetURL'] = SERVER_DOMAIN.'/weixin/share';
              </li>
              <li>
                3: 在模板中包含 public/common/weixinShare.html 即可
              </li>
              <li>
                4: 某些参数要改成自己的
              </li>
            </ul>
          </div> 
        </section>
      </div> 
    </div>
  </div> 
</body>