<?php include HEADER_HTML ?>
<link href="/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/uploadify/jquery.uploadify.min.js"></script>
  <div class="container"> 
    <div class="row">
      <?php include LEFT_HTML ?>

      <div class="span9">
        <section id="typography"> 
          <div class="page-header">
            <h1>xhprof</h1>
            <span>需要安装xhprof 扩展, 否则无法运行</span>
          </div>
 
          <div class="bs-docs-example"> 
      			<a target="_blank" href="/xhprof_html/index.php?run=<?php echo $run_id?>">点击查看 xhprof 分析</a>
          </div>
        </section>
      </div> 
    </div>
  </div> 
</body>