<html>
 	<head>
   		<title>Welcome to YOF</title>
 	</head>
 	<body>
  	<?php if($username) { ?>
  		<h2>Welcome: <a href="/user/user/profile"><?php echo $username ?></a>&nbsp;&nbsp;&nbsp;<a href="/">Home</a></h2>
  		<table border="1" width="1024">
  			<tr>
  				<th>ID</th>
  				<th>Title</th>
  				<th>Content</th>
  				<th>Status</th>
  				<th>Add Time</th>
  				<th>__OP__</th>
  			</tr>
  			<?php if($articles){ ?>
  				<?php foreach($articles as $key => $val) { ?>
  					<tr align="center">
  						<td>
                <a href="/article/detail/<?php echo $val['id'] ?>">
                  <?php echo $val['id'] ?>
                </a>
              </td>
  						<td><?php echo $val['title'] ?></td>
  						<td><?php echo $val['content'] ?></td>
  						<td>
  							<?php if($val['status'] == 0 ) { ?>
  								待审核
  							<?php }else{ ?>
  								正常
  							<?php } ?>
  						</td>
  						<td><?php echo date('Y-m-d', $val['addTime']) ?></td>
  						<td>
  							<a href="/article/edit?articleID=<?php echo $val['id'] ?>">Edit</a>
  							&nbsp;|&nbsp;
  							<a href="/article/del?articleID=<?php echo $val['id'] ?>">Del</a>
  						</td>
  					</tr>	
  				<?php } ?>
  			<?php } ?>
  		</table>
  		<br />
  		<a href="/article/add">New Article</a>&nbsp;|&nbsp;<a href="/user/user/logout">Logout</a>
  		&nbsp;|&nbsp;<?php echo $pageNav ?>
  	<?php }else{ ?>
      <center style="padding-top: 20px;">
        <h2>Welcome to Yof, a PHP Framework based on YAF and Orange</h2>
        <h2>It's quite fast and easy to use </h2>
        <h2>Click <a href="/user/user/login">Login</a> to try .... [hope you like it] </h2>
      </center>
  	<?php } ?>
 	</body>
</html>
