<html>
 	<head>
   		<title>Profile</title>
 	</head>
 	<script src="<?php echo STATIC_DOMAIN ?>/js/jquery-1.7.min.js"></script>
 	<body>
  		<h2><?php echo $_SESSION['username'] ?> 's Profile</h2>
  		<form id="profileForm" name="profileForm" method="post" action="/user/user/profileAct">
  			<input type="text" id="realname" name="realname" value="<?php echo $user['realname']?>" placeholder="realname" /><br /><br />
  			<?php echo $cityElement ?><br /><br />
  			<input type="submit" id="submit" name="submit" value="Submit" />
  		</form>
  		<a href="/user/user">Back</a>
	</body>
</html>
